name: Terraform CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-and-validate:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        working_directory:
          - examples/s3-secure-bucket-basic
          - examples/vpc-minimal-basic
          - examples/ecr-repo-basic
          - examples/iam-runtime-basic

    defaults:
      run:
        working-directory: ${{ matrix.working_directory }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.0

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: TFLint
        run: tflint --recursive
